$primary-color: #28a745;
$card-border-radius: 8px; 
$mobile: 768px;
$tablet: 1024px;
$background-image: url("../../Resources/backgroundshop.jpeg");
$bbackground-image: url("../../Resources/bbackgroundshop.jpeg");
$background-color: #212529;